.extended-card {
  height: 200px;
  background: #f5f6fa;
}

.extended-card-wrap {
  display: flex;
  flex-direction: column;
  
  max-width: 500px;
  border-radius: 10px;
  margin: 20px auto;
  background: white;
  box-shadow: -1px -1px 40px -18px rgba(0,0,0,0.78);
}

.extended-card-image-wrap {
  height: 250px;
  width: 250px;
  
  margin: 0 auto;
  position: relative;
  top: -20px;
}

.extended-card-image-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.8);
}

.extended-card-info {
  display: flex;
  flex-direction: column;
}

.extended-card-info h2 {
  margin: 0 0 15px;
  text-align: center;
}

.extended-card-info p {
  text-align: center;
  margin: 0 0 10px;
}

.extended-card-info p:last-child {
  margin: 0 0 20px;
}

.extended-card-info a {
  margin: 10px 0 15px;
  text-align: center;
  text-decoration: none;
  color: #0097e6;
}

.extended-card-info a:hover {
  text-decoration: underline;
}


@media (min-width: 900px) { 
  .extended-card-wrap {
    max-width: 700px;
  }
 }

@media (max-width: 700px) { 
  .extended-card-wrap {
    max-width: 370px;
  }
 }

 @media (max-width: 410px) { 
  .extended-card-wrap {
    max-width: 320px;
  }
 }

 @media (max-width: 321px) { 
  .extended-card-wrap {
       max-width: 300px;
  }
 }