.nomatch-wrap {
  padding-top: 20px;
}

.nomatch-h1 {
  color: #2f3640;
}

.nomatch-link {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #0097e6;
}

.nomatch-link a:hover {
  text-decoration: underline;
}